:root {
  --primary-black-color: #2e2f42;
  --primary-paragraf-color: #434455;
  --primary-color: #4d5ae5;
  --primary-blue-color: #404bbf;
  --primary-background-color: #f4f4fd;
  --primary-color-white: #ffffff;
  --primary-por: #e7e9fc;
  --color-gre: #8e8f99;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-paragraf-color);
  background-color: var(--primary-color-white);
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
main {
  letter-spacing: 0.02em;
}
.header-name {
  font-family: 'Raleway', sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.first-box {
  display: flex;
  gap: 40px;
  margin: 0;
  justify-content: space-between;
}
.link {
  text-decoration: none;
}
.header-name-span {
  color: var(--primary-black-color);
}
.list {
  list-style: none;
}
.header-address {
  font-style: normal;
}
.telefon-email {
  display: flex;
  gap: 40px;
}
.header-studio-portfolio-contact {
  color: var(--primary-black-color);
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-studio-portfolio-contact::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}
.header-studio-portfolio-contact:hover,
.header-studio-portfolio-contact:focus {
  color: var(--primary-blue-color);
}
.header-commun {
  color: var(--primary-paragraf-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-commun:hover,
.header-commun:focus {
  color: var(--primary-blue-color);
}
.box-1 {
  width: auto;
  height: auto;
  flex-shrink: 0;
  margin: 0;
}
.main-background-firt {
  padding: 188px 0;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-black-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main-name {
  color: var(--primary-color-white);
  font-size: 56px;
  line-height: 1.07;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0;
}
/* @media only screen and (min-width: 768px) {
  .main-name {
    ;
  }
} */
.box-botton {
  justify-content: center;
}
.main-button {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  text-align: center;
  margin-left: 450px;
  margin-top: 48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: var(--primary-blue-color);
}
.main-background-second {
  background-color: var(--primary-background-color);
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .main-background-second {
    padding: 120px 0;
  }
}
.main-photo {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .main-photo {
    display: flex;
    justify-content: center;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-black-color);
    letter-spacing: 0.02em;
    margin-bottom: 72px;
  }
}
.main-photos {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-black-color);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.main-stuff-name {
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--primary-color-white);
  text-align: center;
  margin-bottom: 8px;
}
.main-stuff-job {
  color: var(--primary-paragraf-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.footer-background {
  background-color: var(--primary-black-color);
}
.footer-text {
  color: var(--primary-background-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  max-height: 72px;
}
.header-name-footer {
  color: var(--primary-background-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-main-button {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-background-color);
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--primary-por);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-main-button:hover,
.portfolio-main-button:focus {
  display: block;
  color: var(--primary-color-white);
  background-color: var(--primary-blue-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-main-stuff-name {
  color: var(--primary-black-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-main-stuff-job {
  color: var(--primary-paragraf-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-main-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.image {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backround {
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  max-width: 264px;
  background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backround:not(:last-child) {
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .backround {
    width: calc((100% - 72px) / 2);
  }
  .backround:not(:last-child) {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .backround {
    width: calc((100% - 72px) / 4);
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.box-three {
  display: none;
}
@media only screen and (min-width: 1158px) {
  .box-three {
    display: flex;
    padding: 0;
    align-items: center;
    gap: 24px;
    margin: 0;
  }
}
.box-three-one {
  width: calc((100% - 48px) / 3);
}
.box {
  background: var(--primary-color-white);
}
.box1 {
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .box-four {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 767.98px) {
  .box-four:not(:last-child) {
    margin-bottom: 24px;
  }
}
.port-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.port-box-two {
  padding: 32px 16px;
  border: 1px solid var(--primary-por);
  border-top: none;
}
.port-card-one {
  display: block;
  width: calc((100% - 48px) / 3);
}
.background-img {
  position: relative;
  overflow: hidden;
}
.background-img:focus {
  transform: translateY(0);
}
.image:hover .overlay-text,
.image:focus .overlay-text {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-back {
  width: 1440px;
  height: 312px;
  flex-shrink: 0;
}
.footer {
  padding: 100px 0;
}
.foot-name {
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.cumnt {
  display: flex;
  gap: 40px;
}
.section-two {
  padding: 96px 0;
}
@media screen and (min-width: 1158px) {
  .section-two {
    padding: 120px 0;
  }
}
.box-two {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .box-two {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }
}
@media only screen and (min-width: 767.98px) {
  .box-two-one:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media only screen and (min-width: 767.98px) {
  .box-two-one {
    width: calc((100% - 72px) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .box-two-one {
    width: calc((100% - 72px) / 4);
  }
}
.main-benefits-name {
  color: var(--primary-black-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
@media screen and (min-width: 1158px) {
  .main-benefits-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.main-benefits-paragrafs {
  color: var(--primary-paragraf-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}
@media only screen and (min-width: 1158px) {
  .main-benefits-paragrafs {
    font-weight: 400;
  }
}
.box-for-icon {
  display: none;
}
@media screen and (min-width: 1158px) {
  .box-for-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background: var(--primary-background-color);
    margin-bottom: 8px;
  }
}
/* section-3 */
@media only screen and (min-width: 1158px) {
  .section-three {
    padding-bottom: 120px;
  }
}
/* - */
.name-prof {
  padding: 32px 0;
}
.port-sec {
  padding: 96px 0 120px 0;
}
.por-bot {
  padding: 12px 24px;
  border: 1px solid var(--primary-background-color);
}
.last-sec {
  padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
  .last-sec {
    padding: 120px 0;
  }
}
.customer-bord {
  width: calc((100% - 120px) / 2);
  height: 88px;
}
@media only screen and (min-width: 768px) {
  .customer-bord {
    width: calc((100% - 120px) / 3);
  }
}
@media only screen and (min-width: 1158px) {
  .customer-bord {
    width: calc((100% - 120px) / 6);
  }
}
.icon-post {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.cust-icon {
  fill: currentColor;
}
.icon-4 {
  display: inline-flex;
  padding: 9px 9px 6px 11px;
  justify-content: center;
  align-items: center;
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-inm {
  width: 40px;
  height: 40px;
}
.back-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.icon-a:hover {
  background-color: #404bbf;
}
.icon-a:focus {
  background-color: #404bbf;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 392px;
  height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}
.button-modal {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-a {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.button-modal:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.icon-in {
  fill: var(--primary-background-color);
}
.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  width: 100%;
  height: 100%;
  color: var(--color-gre);
  border-radius: 4px;
  border: 1px solid #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom:hover {
  border-color: var(--primary-blue-color);
  color: #404bbf;
  border-color: var(--primary-blue-color);
}

.custom:focus {
  border-color: var(--primary-blue-color);
  color: #404bbf;
  border-color: var(--primary-blue-color);
}
.button-modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.topon {
  display: flex;
  align-items: baseline;
}
.social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-white);
  margin-bottom: 16px;
}
.ul-soc {
  display: flex;
  gap: 16px;
}
.li-soc {
  width: 40px;
  height: 40px;
}
.a-soc {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-soc:hover {
  background-color: #31d0aa;
}
.a-soc:focus {
  background-color: #31d0aa;
}
.svg-soc {
  fill: var(--primary-background-color);
}
.mom-div {
  margin-right: 120px;
}
.toopor:hover,
.toopor:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.add::after {
  background-color: var(--primary-blue-color);
}
.add {
  color: var(--primary-blue-color);
}
.page-name {
  color: var(--primary-black-color);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form {
  display: flex;
  flex-direction: column;
}
.label-form {
  display: block;
  color: var(--color-gre);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.form-input {
  padding-left: 38px;
  background-color: transparent;
  width: 100%;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.48px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-name {
  color: var(--color-gre);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.message-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.privat-two {
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}
.row-button {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-form {
  margin-bottom: 8px;
}
.div-formn {
  margin-bottom: 16px;
}
.message-form {
  display: block;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  height: 120px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.message-form:focus {
  border-color: var(--primary-color);
}
.second-div {
  margin-right: 80px;
}
.form-input:focus {
  border-color: var(--primary-color);
}
.footer-area {
  display: block;
  align-items: center;
}
.footer-area-name {
  color: var(--primary-color-white);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.button-footer {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color-white);
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-color);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-footer:focus,
.button-footer:hover {
  background-color: var(--primary-blue-color);
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--primary-color-white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--primary-color-white);
  font-size: 12px;
  line-height: 1.5;
  color: var(--primary-color-white);
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer-form-input::placeholder {
  color: var(--primary-color-white);
}
.form-agreement {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-gre);
}
.privat-pol {
  display: inline-flex;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
}
input:checked + label > span {
  background-color: var(--primary-blue-color);
  border: none;
  fill: var(--primary-background-color);
}
.modal-form-field {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-form-icon {
  fill: var(--primary-color);
}
.icon-foot {
  margin-left: 16px;
  fill: var(--primary-color-white);
  pointer-events: none;
}
.checkbox-div {
  margin-bottom: 24px;
}
.checkbox {
  width: 16px;
  height: 16px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.privat-pols {
  color: var(--primary-color);
}
.form-bot {
  display: flex;
}
.row-button:focus,
.row-button:hover {
  background-color: var(--primary-blue-color);
}
